@mixin menuButton {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: darken($color: #b6a3a2, $amount: 30%);
    border: white solid 2px;
    cursor: pointer;
}

$menu-color: #b6a3a2;
$generalCoolor: #ece5e0;