/* Menyknapps design */
@mixin menuButton {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: darken($color: #b6a3a2, $amount: 30%);
    border: white solid 2px;
    cursor: pointer;
}

/* textBox (if/else sass) färgval */
@mixin boxColor($hex){
    @if $hex == light {
      background-color: white;
    } @else{
      background-color: red;
    }
  }
/* färgtema färgvariabler */
$menu-color: #b6a3a2;
$generalCoolor: #ece5e0;

/* Extend */
.text{
    font-size: larger;
    max-width: 75ch;
    margin: 3vh auto;
}