@use 'base';

* {
    margin: 0;
}

body{
    background-color: base.$generalCoolor;
}
main{
    min-height: 100vh;
}
/* Design av Header */
header {
    height: 80px;
    background-color: base.$menu-color;
    margin: 0;
    position: relative;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    margin: 0;
    text-decoration: none;
}

/* Design av meny för mobilenheter, placeras till höger om skärmen */
nav {
    background-color: base.$menu-color;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.71);
    font-size: 1.4em;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    display: none;

    ul {
        width: 100%;
        list-style-type: none;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }
     li {
    padding: 0.8em 0;
    width: 100%;
    a {
        color: white;
        text-decoration: none;
        padding: 1em 1em;
    }
}
li:hover {
    background-color: darken($color: #b6a3a2, $amount: 30%);
    cursor: pointer;
}
}

/* Meny knapp, öppna meny */


.menu-btn {
    @include base.menuButton;
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
    background-color: rgb(94, 15, 15);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.421);
}

.menu-icon {
    margin-right: 10px;
}

/* de tre svarta strecken (hamburg-icon) */
.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

.menu-text {
    font-size: 1.2em;
    color: white;
}

/* Meny knapp, stäng */
.close {
    margin: 1em 1.5em;
    padding: 10px 15px;

}

/* Roterar två lodräda streck, till ett kryss */
.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}

/* Main content */
#scssHeader{
    text-align: center;
    margin: 2vh;
}

#startHeader{
    @extend #scssHeader
}
.pics{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0 auto;
    width: fit-content;
}

p{
    @extend .text;
}

.TextBox{
    text-align: center;
    font-size: 5em;
    margin: 5vh auto;
    padding: 1rem;
    @include base.boxColor(light);
    width: fit-content;
}
/* footer */
footer{
    background-color: base.$menu-color;
    min-height: 10vh;
    left: 0;
    bottom: 0;
    width: 100%;
    p{
        text-align: center;
        font-weight: bold;
        padding: 1em;
    }
}

/* Media querys */
@media (prefers-color-scheme: light) {
    body{
        background-color: lighten($color: #B29B89, $amount: 25%);
    }
    header, nav{
        background-color: #805231;
    }
}
/* Större skärmas - gör menyn som inline */
@media only screen and (min-width: 801px) {
    header {
        padding: 0 3em;
    }

    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    header {
        position: static;
    }

    nav {
        display: block !important;
        position: static;
        box-shadow: 0 0px 0px;
        height: auto;
        font-size: 1.4em;
        width: auto;
    }

    nav ul {
        height: 100%;
    }

    nav li {
        display: inline;
        padding: 1.2em 0;
    }
}

@media only screen and (max-width: 800px){
    .pics{
        img{
            width: 75%;
        }
    }

    .text{
      
        max-width: 90%;
    }

    .TextBox{
        font-size: 3em;
    }
}